body {
    font-family: var(--font_sans);
    font-size: 20px;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    letter-spacing: -0.02rem;
    font-weight: 100;
}
h1, h2, h3 {
    font-family: var(--font_sans);
    color: var(--color_blue);
    text-align: center;
}