:root {
    --font_sans: Helvetica, sans-serif;
    --font_serif: Georgia, serif;
    --color_blue: rgb(53, 70, 198);
    --color_orange: rgb(213, 92, 22);
    --color_light_orange: rgb(239, 145, 90);
    --color_green: rgb(99, 226, 107);
    --color_yellow: rgb(233, 236, 47);
    --color_purple: rgb(130, 20, 173);
    --color_dark_green: rgb(25, 66, 28);
    --color_black: rgb(0, 0, 0);
    --color_white: rgb(249, 249, 249);
    --color_pink: rgb(229, 99, 166);
    --color_light_blue: rgb(64, 149, 213);
}